* {
    margin: 0;
    padding: 0;
}

body{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(50deg, #0a0a0a, #1a4d3e);
	
.calc{
	border: 1px solid #717377;
	padding: 20px;
	border-radius: 16px;
	background: transparent;
	box-shadow: 0px 3px 15px rgba(113,115,119,0.5);
}


/* опишем базовый стиль кнопки калькулятора */
.my-btn {
	margin-right: 5px; /* задаем отступ от кнопки справа */
	margin-left: 5px;
	margin-top: 10px; /* задаем отступ от кнопки сверху*/
	width: 50px; /* задаем ширину кнопки */
	height: 50px; /* задаем высоту кнопки */
	border-radius: 50%; /* округляем кнопку */
	border: none; /* отключаем обводку */
	background: #515151; /* задаем серый цвет кнопки */
	color: white; /* задаем белый цвет текста внутри кнопки */
	box-shadow: -2px -2px 5px;
	/*font-size: 1.5rem; /* увеличим размер шрифта */
	font-family: Poppins, Helvetica, sans-serif; /* сменим шрифт */
	cursor: pointer; /* при наведении на кнопку курсор будет изменен со стрелки на 'указательный палец' */
	user-select: none; /* отключаем возможность выделить текст внутри кнопки */
} 

/* hover - это состояние элемента, когда на него наведен курсор */
.my-btn:hover {
	background: darkgray; /* при наведение курсора на кнопку, она будет окрашена в серый */
}

.my-btn.primary:hover {
	background: darkgray; /* при наведение курсора на кнопку, она будет окрашена в серый */
}

.my-btn.secondary:hover {
	background: darkgray; /* при наведение курсора на кнопку, она будет окрашена в серый */
}

.my-btn.execute:hover {
	background: darkgray; /* при наведение курсора на кнопку, она будет окрашена в серый */
}

.my-btn.ce:hover {
	background: darkgray; /* при наведение курсора на кнопку, она будет окрашена в серый */
}

/* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
.my-btn:active {
	filter: brightness(130%); /* увеличим интенсивность цвета для эффекта вспышки */
	transform: scale(0.5);
}

/* селектор для кнопок первостепенных операций */
.my-btn.primary {
	background: #515151; /* цвет кнопки */
	color: #ff9801;
}

/* селектор для кнопок второстепенных операций */
.my-btn.secondary {
	background: #515151; /* цвет кнопки серый */
}

/* селектор для кнопки расчета выражения (=) */
.my-btn.execute {
	width: 112px; /* сделаем кнопку шире других */
	border-radius: 34px; /* подкорректируем округлость */
	background: #ff9801;
	color: white;
}

.my-btn.ce {	
	background: #515151;
	color: red;
}

/* селектор для поля вывода результата */
.result {
	width: 300px;
	height: 52px;
	border-radius: 15px;
	margin-bottom: 15px; /* отступ снизу */
	margin-left: 5px;
	padding-right: 10px; /* выступ справа */
	padding-top: 10px;
	background: rgb(73, 73, 73); /* цвет можно задавать и таким образом */
	text-align: right; /* примагнитим текст к правой стороне */
	color: #ffffff; /* цвет текста белый */
	font-size: 1.5rem;
	font-family: Poppins, Helvetica, sans-serif;
}
